@font-face {
  font-family:"Pokemon Generation 1 Regular";
  src:url("../fonts/pokemon_generation_1.eot") format("eot");
  src:url("../fonts/pokemon_generation_1.woff") format("woff");
  src:url("../fonts/pokemon_generation_1.ttf") format("truetype");
  src:url("../fonts/pokemon_generation_1.svg#Pokemon-Generation-1") format("svg");
  font-weight:normal;
  font-style:normal;
}

:root {
  font-family: "Pokemon Generation 1 Regular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: aqua;
}
button:focus {
  outline:none,
}

#addButton {
  width: 100%;
}

#titlePic {
  width: 750px;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border: 2px solid black;
  
}

th,
td {
  padding: 0.6em 1.2em;
}

td {
  background-color: aqua;
  color: black;
}

thead {
  background-color: red;
  color: white;
}

thead th:not(:first-child,:last-child) {
  border-bottom: 2px solid black;
}

tfoot td:not(:first-child,:last-child) {
  border-top: 2px solid black;
}

.frontBorder {
  background-color: red;
  border-right: 2px solid black;
}

.backBorder {
  background-color: red;
  border-left: 2px solid black
}

.footSelect {
  background-color: red;
}

select {
  font-family: "Pokemon Generation 1 Regular";
  background-color: rgb(0, 151, 151);
}
select:hover {
  border-color: aqua;
}
select:focus {
  outline: none;
}

